header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-family: 'Garamond', sans-serif;
    font-size: small;
    background-color: #324376;
    color: #b0b0d0;
    width: 650px;
    /* note: margin-left and margin-right set to auto centered it properly, margin all auto also works */
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 3em 0.5em 3em;
}

#board {
    display: flex;
    justify-content: center;
    font-family: 'Garamond', sans-serif;
    font-size: small;
    width: 40%;
    /* note: another approach using just one line of code, margin: top left bottom right */
    margin: 2em auto auto auto; 
    /* note: padding: top right bottom left */
    /* padding: 0.5em auto 0.5em auto; */
}



/* table { */
    /* border: 2px solid #000000; */
    /* border-collapse: collapse;
} */

/* td {
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;  
} */

table {
    border-collapse: collapse;
    margin:1em auto;
}

td {
    height:30px;
    width:30px;
    border:1px solid;
    text-align:center;
}

td:first-child {
    border-left: 3px solid;
}

td:nth-child(3n) {
    border-right: 3px solid;
}

tr:first-child {
    border-top: 3px solid;
}

tr:nth-child(3n) td {
    border-bottom: 3px solid;
}

input {
    color: #000000;
    padding: 0;
    border: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 34px;
    background-color: rgb(255, 255, 255);
    outline: none;
}

input:hover {
    background-color: #f5dd90;
}

input:active {
    background-color: #f5c423;
}

input:disabled {
    background-color: #EEEEEE;
}

.error {
    background-color: #f76c5e;
}

/* #cell-0,  #cell-1,  #cell-2  { border-top:    2px solid #000000; }
#cell-2,  #cell-11, #cell-20 { border-right:  2px solid #000000; }
#cell-18, #cell-19, #cell-20 { border-bottom: 2px solid #000000; }
#cell-0,  #cell-9,  #cell-18 { border-left:   2px solid #000000; }

#cell-3,  #cell-4,  #cell-5  { border-top:    2px solid #000000; }
#cell-5,  #cell-14, #cell-23 { border-right:  2px solid #000000; }
#cell-21, #cell-22, #cell-23 { border-bottom: 2px solid #000000; }
#cell-3,  #cell-12, #cell-21 { border-left:   2px solid #000000; }

#cell-6,  #cell-7,  #cell-8  { border-top:    2px solid #000000; }
#cell-8,  #cell-17, #cell-26 { border-right:  2px solid #000000; }
#cell-24, #cell-25, #cell-26 { border-bottom: 2px solid #000000; }
#cell-6,  #cell-15, #cell-24 { border-left:   2px solid #000000; }

#cell-27, #cell-28, #cell-29 { border-top:    2px solid #000000; }
#cell-29, #cell-38, #cell-47 { border-right:  2px solid #000000; }
#cell-45, #cell-46, #cell-47 { border-bottom: 2px solid #000000; }
#cell-27, #cell-36, #cell-45 { border-left:   2px solid #000000; }

#cell-30, #cell-31, #cell-32 { border-top:    2px solid #000000; }
#cell-32, #cell-41, #cell-50 { border-right:  2px solid #000000; }
#cell-48, #cell-49, #cell-50 { border-bottom: 2px solid #000000; }
#cell-30, #cell-39, #cell-48 { border-left:   2px solid #000000; }

#cell-33, #cell-34, #cell-35 { border-top:    2px solid #000000; }
#cell-35, #cell-44, #cell-53 { border-right:  2px solid #000000; }
#cell-51, #cell-52, #cell-53 { border-bottom: 2px solid #000000; }
#cell-33, #cell-42, #cell-51 { border-left:   2px solid #000000; }

#cell-54, #cell-55, #cell-56 { border-top:    2px solid #000000; }
#cell-56, #cell-65, #cell-74 { border-right:  2px solid #000000; }
#cell-72, #cell-73, #cell-74 { border-bottom: 2px solid #000000; }
#cell-54, #cell-63, #cell-72 { border-left:   2px solid #000000; }

#cell-57, #cell-58, #cell-59 { border-top:    2px solid #000000; }
#cell-59, #cell-68, #cell-77 { border-right:  2px solid #000000; }
#cell-75, #cell-76, #cell-77 { border-bottom: 2px solid #000000; }
#cell-57, #cell-66, #cell-75 { border-left:   2px solid #000000; }

#cell-60, #cell-61, #cell-62 { border-top:    2px solid #000000; }
#cell-62, #cell-71, #cell-80 { border-right:  2px solid #000000; }
#cell-78, #cell-79, #cell-80 { border-bottom: 2px solid #000000; }
#cell-60, #cell-69, #cell-78 { border-left:   2px solid #000000; } */

#palette {
    display: flex;
    justify-content: space-around;
    border: 1px solid #000000;
    font-family: 'Garamond', sans-serif;
    /* note: to stop this palette's size from adjusting when changing screen width, use px, em, or rem */
    width: 530px;
    margin: 2em auto auto auto; 
    padding: 0;
    text-align: center;
}

/* note: this means all <li> tags that are direct children of the #palette id */
#palette > li {
    list-style-type: none;
    color: #000000;
    padding: 0;
    width: inherit;
    font-size: 34px;
}

#palette > li:hover {
    background-color: #f5dd90;
    cursor: pointer;
}

#palette > li:active {
    background-color: #f5c423;
}

#undo {
    background: url("../images/undo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%; 
    /* overflow: hidden; */
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9 { border-right:  2px solid #000000; }