header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-family: 'Garamond', sans-serif;
    font-size: small;
    background-color: #324376;
    color: #b0b0d0;
    width: 650px;
    /* note: margin-left and margin-right set to auto centered it properly, margin all auto also works */
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 3em 0.5em 3em;
}

#board {
    display: flex;
    justify-content: center;
    font-family: 'Garamond', sans-serif;
    font-size: small;
    width: 40%;
    /* note: another approach using just one line of code, margin: top left bottom right */
    margin: 2em auto auto auto; 
    /* note: padding: top right bottom left */
    /* padding: 0.5em auto 0.5em auto; */
}



/* table { */
    /* border: 2px solid #000000; */
    /* border-collapse: collapse;
} */

/* td {
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;  
} */

table {
    border-collapse: collapse;
    margin:1em auto;
}

td {
    height:30px;
    width:30px;
    border:1px solid;
    text-align:center;
}

td:first-child {
    border-left: 3px solid;
}

td:nth-child(3n) {
    border-right: 3px solid;
}

tr:first-child {
    border-top: 3px solid;
}

tr:nth-child(3n) td {
    border-bottom: 3px solid;
}

input {
    color: #000000;
    padding: 0;
    border: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 34px;
    background-color: rgb(255, 255, 255);
    outline: none;
}

input:hover {
    background-color: #f5dd90;
}

input:active {
    background-color: #f5c423;
}

/* input:disabled {
    background-color: #EEEEEE;
} */

.error {
    background-color: #f76c5e;
}

#palette {
    display: flex;
    justify-content: space-around;
    border: 1px solid #000000;
    font-family: 'Garamond', sans-serif;
    /* note: to stop this palette's size from adjusting when changing screen width, use px, em, or rem */
    width: 530px;
    margin: 2em auto auto auto; 
    padding: 0;
    text-align: center;
}

/* note: this means all <li> tags that are direct children of the #palette id */
#palette > li {
    list-style-type: none;
    color: #000000;
    padding: 0;
    width: inherit;
    font-size: 34px;
}

#palette > li:hover {
    background-color: #f5dd90;
    cursor: pointer;
}

#palette > li:active {
    background-color: #f5c423;
}

#undo {
    background: url("../images/undo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%; 
    /* overflow: hidden; */
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9 { border-right:  2px solid #000000; }
